<template>
    <Layout>
        <div class="container">
            <h1 class="is-size-1">{{ title }}</h1>
            <div class="columns">
                <div class="column">
                    <Link :href="route('users.index')" class="button is-primary">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        &nbsp; Back
                    </Link>
                </div>
            </div>
            <div class="columns">
                <div class="column is-6-desktop is-12-mobile">
                    <form @submit.prevent="submit">
                        <div class="field">
                            <label class="label">Name</label>
                            <div class="control">
                                <input v-model="form.name" class="input" type="text">
                                <div v-if="form.errors.name" class="has-text-danger">{{ form.errors.name }}</div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input v-model="form.email" class="input" type="email">
                                <div v-if="form.errors.email" class="has-text-danger">{{ form.errors.email }}</div>
                            </div>
                        </div>
                        <div class="field" v-if="user.id == null">
                            <label class="label">Password</label>
                            <div class="control">
                                <input v-model="form.password" class="input" type="password">
                                <div v-if="form.errors.password" class="has-text-danger">{{ form.errors.password }}</div>
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link" type="submit">Submit</button>
                            </div>
                            <div class="control">
                                <button class="button is-link is-light" type="button" @click="clearForm()">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </Layout>
</template>

<script>
    import Layout from'../../Shared/Layout.vue';
    import { Link } from '@inertiajs/inertia-vue3';
    import { useForm } from '@inertiajs/inertia-vue3'

    export default {
        components: {
            Layout,
            Link,
        },
        props: [
            'title',
            'user'
        ],
        data() {
            return {
                form: useForm({
                    name: null,
                    email: null,
                    password: null,
                }),
            };
        },
        computed: {
            paginate() {
                return this.users['links'];
            },
        },
        methods: {
            clearForm() {
                this.form = useForm({
                    name: null,
                    email: null,
                    password: null,
                });
            },
            submit() {
                if (this.user.id == null) {
                    this.form.post(this.route('users.store'), this.form);
                } else {
                    this.form.put(this.route('users.update', { id: this.form.id }), this.form);
                }
                
            },
        },
        mounted(){
            if (this.user.id != null) {
                this.form = useForm(this.user);
            }
        }
    }
</script>

<style scoped>

</style>