<template>
    <Layout>
        <div class="container">
            <h1 class="is-size-1">{{ title }}</h1>
            <div class="columns">
                <div class="column">
                    <Link :href="route('users.create')" class="button is-primary is-pulled-right">
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                        &nbsp; Add Users
                    </Link>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <table class="table is-bordered is-striped is-fullwidth">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(user, index) in users['data']" :key="index">
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    <div class="buttons">
                                        <Link :href="route('users.edit', { id: user.id })" class="button is-success">
                                            <span class="icon">
                                                <i class="fas fa-cog"></i>
                                            </span>
                                        </Link>
                                        <button class="button is-danger" @click="deleteUser(user.id)" :disabled="auth.id == user.id">
                                            <span class="icon">
                                                <i class="fas fa-trash"></i>
                                            </span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                        <Link :href="users['prev_page_url']" class="pagination-previous">Previous</Link>
                        <Link :href="users['next_page_url']" class="pagination-next">Next page</Link>
                        <ul class="pagination-list">
                            <template v-for="(page, index) in paginate" :key="index">
                                <li v-if="index != 0 && index != (paginate.length - 1)" >
                                    <Link :href="page.url" :class="page.active ? { 'pagination-link': 'pagination-link', 'is-current': 'is-current' } : { 'pagination-link': 'pagination-link' }">{{ page.label }}</Link>
                                </li>
                            </template>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </Layout>
</template>

<script>
    import Layout from'../../Shared/Layout.vue';
    import { Link } from '@inertiajs/inertia-vue3';

    export default {
        components: {
            Layout,
            Link,
        },
        
        props: [
            'title',
            'auth',
            'users'
        ],

        computed: {
            paginate() {
                return this.users['links'];
            },
        },

        mounted(){
            //
        },

        methods: {
            deleteUser(id) {
                let vm = this;

                Swal.fire({
                    title: 'Do you want to delete data?',
                    showCancelButton: true,
                    confirmButtonText: 'Delete',
                    confirmButtonColor: '#d63031',
                }).then((result) => {
                    /* Read more about isConfirmed, isDenied below */
                    if (result.isConfirmed) {
                        vm.$inertia.delete(route('users.destroy', { id: id }));
                    }
                })
            },
        },
    }
</script>

<style scoped>

</style>