<template>
    <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <Link class="navbar-item" :href="route('pages.home')">
                    Home
                </Link>
                <Link class="navbar-item" :href="route('pages.about')">
                    About
                </Link>
                <Link class="navbar-item" :href="route('users.index')">
                    User
                </Link>
            </div>

            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Jhon
                    </a>
                    <div class="navbar-dropdown is-right">
                        <Link :href="route('logout')" class="navbar-item">
                            Logout
                        </Link>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
    import { Link } from '@inertiajs/inertia-vue3'

    export default {
        components: {
            Link,
        }
    }
</script>

<style scoped>

</style>