<template>
    <div class="container mt-4">
        <div v-if="$page.props.flash.success && show" class="notification is-success">
            <button class="delete" @click="show = false"></button>
            {{ $page.props.flash.success }}
        </div>
        <div v-if="$page.props.flash.danger && show" class="notification is-danger">
            <button class="delete" @click="show = false"></button>
            {{ $page.props.flash.danger }}
        </div>
        <div v-if="$page.props.flash.warning && show" class="notification is-warning">
            <button class="delete" @click="show = false"></button>
            {{ $page.props.flash.warning }}
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                show: true,
            };
        },

        watch: {
            '$page.props.flash': {
                handler() {
                    this.show = true
                },
                deep: true,
            },
        },
    }
</script>

<style scoped>

</style>