<template>
    <section class="container">
        <div class="columns is-multiline">
            <div class="column is-8 is-offset-2 register">
                <div class="columns">
                    <div class="column left">
                        <h1 class="title is-1">Laravel & Inertia</h1>
                        <h2 class="subtitle colored is-4">Lorem ipsum dolor sit amet.</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis ex deleniti aliquam tempora libero excepturi vero soluta odio optio sed.</p>
                    </div>
                    <div class="column right has-text-centered">
                        <Notification></Notification>
                        <h1 class="title is-4">Sign Up</h1>
                        <form @submit.prevent="login">
                            <div class="field">
                                <div class="control">
                                    <input v-model="form.email" class="input is-medium" type="email" placeholder="Email">
                                    <div v-if="form.errors.email" class="has-text-danger">{{ form.errors.email }}</div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input v-model="form.password" class="input is-medium" type="password" placeholder="Password">
                                    <div v-if="form.errors.password" class="has-text-danger">{{ form.errors.password }}</div>
                                </div>
                            </div>
                            <button type="submit" class="button is-block is-primary is-fullwidth is-medium">Login</button>
                            <br />
                            <small><em>Lorem ipsum dolor sit amet consectetur.</em></small>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import { useForm } from '@inertiajs/inertia-vue3'

    import Notification from '../../Shared/Components/Notification.vue';

    export default {
        components: {
            Notification,
        },

        data() {
            return {
                form: useForm({
                    email: null,
                    password: null,
                }),
            };
        },

        methods: {
            login() {
                this.form.post(route('login.signup'), this.form);
            },
        },
    }
</script>

<style scoped>
    :root {
        --brandColor: hsl(166, 67%, 51%);
        --background: rgb(219, 219, 219);
        --textDark: hsla(0, 0%, 0%, 0.66);
        --textLight: hsla(0, 0%, 0%, 0.33);
    }

    body {
        background: var(--background);
        height: 100vh;
        color: var(--textDark);
    }

    .field:not(:last-child) {
        margin-bottom: 1rem;
    }

    .register {
        margin-top: 10rem;
        background: #f3f3f3;
        border-radius: 10px;
    }

    .left,
    .right {
        padding: 4.5rem;
    }

    .left {
        border-right: 5px solid var(--background);
    }

    .left .title {
        font-weight: 800;
        letter-spacing: -2px;
    }

    .left .colored {
        color: var(--brandColor);
        font-weight: 500;
        margin-top: 1rem !important;
        letter-spacing: -1px;
    }

    .left p {
        color: var(--textLight);
        font-size: 1.15rem;
    }

    .right .title {
        font-weight: 800;
        letter-spacing: -1px;
    }

    .right .description {
        margin-top: 1rem;
        margin-bottom: 1rem !important;
        color: var(--textLight);
        font-size: 1.15rem;
    }

    .right small {
        color: var(--textLight);
    }

    input {
        font-size: 1rem;
    }

    input:focus {
        border-color: var(--brandColor) !important;
        box-shadow: 0 0 0 1px var(--brandColor) !important;
    }

    .fab,
    .fas {
        color: var(--textLight);
        margin-right: 1rem;
    }
</style>