<template>
    <Layout>
        <div class="container">
            <h1 class="is-size-1">{{ title }}</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam minima, deleniti quibusdam ratione temporibus ipsam maxime aut inventore incidunt autem nam accusamus veritatis eos, illo quisquam ab enim dolore id!</p>
        </div>
    </Layout>
</template>

<script>
    import Layout from'../Shared/Layout.vue';
    import { Link } from '@inertiajs/inertia-vue3';

    export default {
        components: {
            Layout,
            Link,
        },
        props: {
            title: String,
        },
    }
</script>

<style scoped>

</style>