<template>
    <Layout>
        <div class="container">
            <h1 class="is-size-1">Hello, {{ title }}</h1>
            <p>I'm learn Inertia.js</p>
        </div>
    </Layout>
</template>

<script>
    import Layout from'../Shared/Layout.vue';
    import { Link } from '@inertiajs/inertia-vue3';

    export default {
        components: {
            Layout,
            Link,
        },
        props: {
            title: String,
        },
    }
</script>

<style scoped>

</style>