<template>
    <main>
        <header>
            <Navbar></Navbar>
        </header>
        <article>
            <Notification></Notification>
            <slot />
        </article>
    </main>
</template>

<script>
    import Navbar from '../Shared/Components/Navbar.vue';
    import Notification from '../Shared/Components/Notification.vue';
    import { Link } from '@inertiajs/inertia-vue3'

    export default {
        components: {
            Navbar,
            Notification,
            Link,
        }
    }
</script>